= form_with(model: device, local: true) do |form|
  - if device.errors.any?
    #error_explanation
      %h2
        = pluralize(device.errors.count, "error")
        prohibited this device from being saved:
      %ul
        - device.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :device_name
  .field
    = form.label :key
    = form.text_field :key, id: :device_key
  .actions
    = form.submit
